
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	font-size: 1em;
	line-height: 1.5em;
	background-color: #333;
    padding-top: 80px; /* Relleno superior igual a la altura de la cabecera*/
}

h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

p {
	margin: 0 0 1.5em 0;
}

img {
	max-width: 100%;
}


/* 
Estilo de la cabecera 
*/

#main-header {
	background: #333;
	color: white;
	height: 80px;

    width: 100%; /* Hace que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posiciona la cabecera al lado izquierdo */
	top: 0; /* Posiciona la cabecera pegada arriba */
	position: fixed; /* Hace que la cabecera tenga una posición fija */
}	
	#main-header a {
		color: white;
	}

/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 30px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	

/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}

/* Diseño del contenido */

#main-content {
	background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/70/48/s4RUNh.jpg);
	width: 95%;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	
}
	#main-content .content .bebes{
        margin-left: 25%;
		width: 50%;
		background-color: lightpink;
	}

	#main-content .content .rookie{
		background-color: lightgreen;
	}

	#main-content .content .champion{
		background-color: lightblue;
	}

	#main-content .content .ultimate{
		background-color: crimson;
	}

		



/* Diseño para el pie de pagina */

#main-footer {
	background: #333;
	color: white;
	text-align: center;
	width: 100%;
	bottom: 0;
	position: fixed;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
	}