

body{
	padding-top: 3%;
    background-color: #6862F5;
}


/************************	Estilo de la cabecera 	************************/

#main-header {
	background: #00458F;
	color: white;
	height: 80px;

    width: 100%; /* Hace que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posiciona la cabecera al lado izquierdo */
	top: 0; /* Posiciona la cabecera pegada arriba */
	position: fixed; /* Hace que la cabecera tenga una posición fija */
}	
	#main-header a {
		color: white;
	}

/************************	Logo	************************/

#logo-header {
	float: left;
	padding: 30px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}

/************************	Navegación	************************/

 nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}

/************************	BARRA LATERAL	************************/

.lateral{
    box-sizing: border-box;
    width: max(8%, 200px);
    display: inline-block;
    position: fixed;
     padding-top: 30px
    }

.lateral header{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid black;
    background: aqua
    }
.lateral ul{
    list-style:none;
    padding-left:0;
    margin-top:0;
    }
.lateral ul li{
    display:block;
    position: relative;
    padding: 8px 10px;
    margin-left:0;
    border-bottom:1px solid #060696
    }
.lateral ul li a{
    color: black;
    text-decoration:none; 
    }
.lateral ul li a:after{
    content: ' ';
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    }
.lateral ul li:hover, .lateral ul li:hover a{
    background: red;
    color: white;
    }

/************************	Estilo del contenido	************************/

.principal{
    margin-left: max(10%, 200px);
    padding: 0 10px;
    height: 100%;
	width: 88.75%;
    text-align: justify;
    background:white;
    }

#cuadro{
	background: #001933;
    border-radius: 0.25rem;
    margin: 15px 0;
    padding: 15px;
}

/************************	Tabla Informacion principal		************************/

#contenedor-info{
    margin-left: 20%;
    width: 50%;
    background-color: green;
}

#info{
    text-align: center;
    background-color: blueviolet;
}

/************************	Tabla  Digievoluciones		************************/

#contenedor-digievoluviones{
    max-width: 98%;
    background-color: green;
    margin-left: 1%;
    text-align: center;
    font-size: 2em;

}

#img-digievoluciones{
    margin-left: 0;
    max-width: 30%;
}
#col-iconos{
    max-width: 100px;
}

#tabla-formato{
    width: 100%;
}

#tabla-formato tbody{

    background-color: white;
}



